body {
  background-color: #f6f6f6;
}

.panel-title {
  padding: 6px;
  background-color: lightblue;
}

.description {
  font-style: italic;
}

.danger {
  color: red;
  font-weight: bold;
}

.abtme h4 {
  font-weight: 250;
  padding-bottom: 12px;
}

.abtme li {
  padding-right: 10px;
}

#header {
  padding-bottom: 30px;
  padding-top: 10px;
  text-align: center;
  font-weight: 200;
}

#header2 {
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
  font-weight: 200;
}

#minny {
  width: 8%;
  float: left;
}

#lake {
  width: 10%;
  float: right;
}
