body {
  background-color: #f6f6f6;
}

.panel-title {
  padding: 6px;
  background-color: lightblue;
}

.description {
  font-style: italic;
}

.danger {
  color: red;
  font-weight: bold;
}

.jumbotron {
  background-color: white;
}

.well {
  background-color: white;
}

.abtme h4 {
  font-weight: bold;
  padding-bottom: 12px;
}

.abtme li {
  padding-right: 10px;
}

.contactme .col-sm-2 a {
  padding-bottom: 30px;
}

#header {
  padding-bottom: 30px;
  padding-top: 10px;
  text-align: center;
  font-weight: 200;
}

#header2 {
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
  font-weight: 200;
}

#header3 {
  padding-top: 20px;
  padding-bottom: 22px;
  text-align: center;
  font-weight: 200;
}

#minny {
  margin-right: 93px;
  width: 30%;
  float: right;
}

#lake {
  margin-left: 93px;
  width: 37%;
  float:left;
}
