body {
  background-color: #f6f6f6;
}

.button {
  font-size: 16px;
  font-weight: 200;
}

.panel-title {
  padding: 6px;
  background-color: #B2DEEC;
  font-weight: 220;
  text-align: center;
}

.description {
  font-style: italic;
}

.danger {
  color: red;
  font-weight: bold;
}

.jumbotron {
  background-color: white;
  border-top: 12px solid #B2DEEC;
}

.well {
  background-color: white;
  border-top: 12px solid #B2DEEC;
}

.abtme h4 {
  font-weight: bold;
  padding-bottom: 12px;
}

.abtme li {
  padding-right: 10px;
}

.contactme .col-sm-2 a {
  padding-bottom: 30px;
}

#header {
  padding-bottom: 30px;
  padding-top: 5px;
  text-align: center;
  font-weight: 200;
}

#header2 {
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
  font-weight: 200;
}

#header3 {
  padding-top: 20px;
  padding-bottom: 22px;
  text-align: center;
  font-weight: 200;
}

#header4 {
  padding-bottom: 26px;
  text-align: center;
  font-weight: 200;
}

#minny {
  margin-right: 93px;
  width: 30%;
  float: right;
}

#lake {
  margin-left: 93px;
  width: 37%;
  float:left;
}

img.me{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  border: 12px solid #A2D7E8;
}

#racketleft {
  margin-top: 40px;
  width: 50%;
  float: left;
}

#racketright {
  margin-top: 40px;
  width: 50%;
  float: right;
}
